{% extends 'base.html' %}

{% block head %} 
<title>Edit Post</title>
{% endblock %}

{%block body%}


<h1 class="p-1 m-2 bg-primary text-white text-center">Editing Page</h1>
<hr>
  <h2>Edit Post:</h2>
  
  <form action='/posts/edit/{{post.id}}' method='POST'>
      <label for="Title">Title:</label>
      <input type="text" class="form-control" placeholder="Enter title" name='title' id='title' value="{{post.title}}"> 
      <br>
      <label for="author">Author:</label>
      <input type="text" class="form-control" placeholder="author name" name='author' id='author' value="{{post.author}}">
       <br>
       <label for="Content">Post:</label>
       <textarea class="form-control" input type='text' name='content' id='content' placeholder="enter your post" rows="2" value="{{post.content}}"></textarea>
       <br>
       <input class="btn btn-primary" type='submit' value='Post'>
  
     
</form> 
<hr>

{%endblock%}