{% extends 'base.html' %}

{% block head %} 
<title>Post page</title>
{% endblock %}


{%block body%}


<h1>This is post page</h1>
<hr>
  <h2>Create New BlogPost:</h2>
    <form action='/posts' method='POST'>
       Title: <input type='text' name='title' id='title'>
        <br>
        Author:<input type='text' name='author' id='author'>
        <br>
       Post:<input type='text' name='content' id='content'>
        <br>
       <input type='submit' value='Post'>
    </form>
<hr>
    {% for post in posts %}
       <h2>{{ post.title }}</h2>
       {%if post.author%}
            <small>Written by {{post.author}} on  {{post.date_posted}} </small>
        {% else %}
            <small>Written by unknown on {{post.date_posted}}</small>
        {% endif %}
        <br>
        <p>{{ post.content }}</p>
        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Delete</a>
        <a lass="btn btn-primary" href='/posts/edit/{{post.id}}'>Edit</a>
        <hr>
    {% endfor %}

{%endblock%}



